.cart-item {
    height: 50%;
    background-color: #4e56ae;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    z-index: 100;
    text-decoration: none;
    color: white;
    position: relative;
    box-shadow: 0 0 10px 0 #000;
}

.image_container {
    width: 50%;
    height: 80%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-item img {
    width: 100%;
}

.cart-delete-button {
    all: unset;
    width: 10%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    padding: 5px;
}

.cart-delete-button:hover {
    padding: 7px;
}

.cart-delete-button img {
    width: 80%;
}

.cart-amount {
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: white;
    color: #000;
    font-weight: bold;
}